@import 'init.css';
@import 'dracula.css';
@import 'katex.css';

#main-container {
  max-width: 800px;
  margin: 90px auto auto;
}

#article-title {
  font-size: 24px;
  font-weight: 700;
}

#article-subtitle {
  display: inline;
  font-size: 20px;
  font-weight: 400;
}

#article-date {
  font-size: 12px;
  color: #767676;
}

#article-content-container {
  margin-top: 30px;
}

#article-social-container {
  margin-top: 40px;
  font-size: 10px;
}

#article-social-container #fb-like {
  top: -3px;
}

#article-navigation {
  margin-top: 50px;
  overflow: hidden;
}

#article-navigation .article-navigation-item {
  margin-bottom: 25px;
}

#article-navigation .article-navigation-arrow {
  font-size: 14px;
  width: 18px;
  line-height: 1.7;
}

#article-navigation .article-navigation-next {
  text-align: left;
  float: left;
}

#article-navigation .article-navigation-prev {
  text-align: right;
  float: right;
}

#article-navigation .article-navigation-title {
  font-weight: 700;
  font-size: 15px;
}

#article-navigation .article-navigation-subtitle {
  font-weight: 400;
  font-size: 14px;
}

#article-navigation a:hover div {
  background-color: black;
  color: white;
}

#article-list-button-container {
  width: 90px;
  height: 90px;
  margin: 20px auto auto;
}

#article-list-button-container #article-list-button {
  display: table-cell;
  width: 90px;
  height: 90px;
  border: 1px black solid;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
}

#article-list-button-container #article-list-button:hover {
  background-color: black;
}

#article-comments {
  margin-top: 10px;
}

#article-comments .utterances {
  margin: 0;
}

#article-content-container h1,
#article-content-container h2,
#article-content-container h3,
#article-content-container h4,
#article-content-container h5,
#article-content-container h6 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}

#article-content-container h1 {
  font-size: 22px;
  border-bottom: 1px black solid;
  padding-bottom: 5px;
}

#article-content-container h2 {
  font-size: 20px;
}

#article-content-container h3 {
  font-size: 18px;
}

#article-content-container h4 {
  font-size: 16px;
}

#article-content-container p {
  font-size: 16px;
  line-height: 200%;
  margin-bottom: 15px;
}

#article-content-container img {
  max-width: 100%;
  margin-top: 10px;
  height: auto;
}

#article-content-container ul,
#article-content-container ol {
  padding-left: 20px;
  margin-bottom: 20px;
}

#article-content-container li {
  list-style-position: inside;
  line-height: 200%;
  margin-top: 10px;
}

#article-content-container a {
  text-decoration: underline;
}

#article-content-container a:hover,
#article-content-container a:focus {
  text-decoration: none;
  background-color: black;
  color: white;
}

#article-content-container pre {
  padding: 15px 20px 20px 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#article-content-container code,
#article-content-container code span {
  font-family: 'Consolas', 'Monaco', 'Ubuntu Mono', 'Andale Mono', monospace;
}

#article-content-container p code,
#article-content-container li code {
  background-color: #EEEEEE;
  padding: 0 5px 0 5px;
}

#article-content-container blockquote {
  border-left: 3px #DFDFDF solid;
  padding-left: 15px;
}

#article-content-container blockquote p {
  font-family: 'Noto Serif KR', serif;
  font-style: italic;
}

#article-content-container table {
  border-spacing: unset;
  border-collapse: collapse;
  width: 100%;
}

#article-content-container th,
#article-content-container td {
  padding: 5px 10px 5px 10px;
  border: 1px black solid;
}

#article-content-container sup {
  font-size: 11px;
}

#article-content-container details {
  display: inline;
  margin-bottom: 25px;
}

#article-content-container details[open=""] > summary {
  background-color: black;
  color: white;
}

#article-content-container summary {
  font-weight: bold;
  cursor: pointer;
}

#article-content-container .table-of-contents {
  font-size: 15px;
  margin-bottom: 30px;
}

#article-content-container .table-of-contents ul {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding-left: -20px;
}

#article-content-container .table-of-contents li {
  margin-top: 5px;
}

#article-content-container .table-of-contents li:before {
  content: counters(item, ".") ". ";
  counter-increment: item
}

#article-content-container section {
  margin-bottom: 15px;
}

#article-content-container section .katex * {
  font-family: 'Times New Roman', serif;
}

#article-content-container p .katex * {
  font-family: 'Times New Roman', serif;
  font-size: 16px;
}

#article-content-container p .msupsub * {
  font-size: 11px;
}

#article-content-container .footnotes-sep {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 0;
  border-bottom: 1px black solid;
}

#article-content-container .footnotes > .footnotes-list {
  padding: 0;
  font-size: 14px;
  counter-reset: list;
}

#article-content-container .footnotes > .footnotes-list > .footnote-item {
  list-style-position: inherit;
  list-style: none;
}

#article-content-container .footnotes > .footnotes-list > .footnote-item:before {
  content: "[" counter(list) "] ";
  counter-increment: list;
}

#article-content-container .footnotes > .footnotes-list > .footnote-item > p {
  font-size: 14px;
  display: inline;
}

