@import 'init.css';

#work-container {
  margin-top: 90px;
}

#work-title {
  width: auto;
  font-size: 22px;
  font-weight: 700;
}

#work-subtitle {
  font-size: 20px;
  margin-bottom: 30px;
  word-break: keep-all;
  font-weight: 400;
}

#work-container a {
  text-decoration: underline;
}

#work-container a:hover,
#work-container a:focus {
  color: white;
  background-color: black;
}

#work-container img {
  display: block;
  max-width: 400px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid black;
}

#work-container p {
  font-size: 16px;
  line-height: 200%;
}
