@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR|Ubuntu+Mono&display=swap');

#main-container {
  max-width: 800px;
  margin: 90px auto auto;
}

#article-title {
  font-size: 24px;
  font-weight: 700;
}

#article-subtitle {
  display: inline;
  font-size: 20px;
  font-weight: 400;
}

#article-date {
  font-size: 12px;
  color: #C0C0C0;
}

#article-content-container {
  margin-top: 30px;
}

#article-social-container {
  margin-top: 40px;
  font-size: 10px;

  #fb-like {
    top: -3px;
  }
}

#article-navigation  {
  margin-top: 50px;
  overflow: hidden;

  .article-navigation-item {
    margin-bottom: 25px;
  }

  .article-navigation-arrow {
    font-size: 14px;
    width: 18px;
    line-height: 1.7;
  }

  .article-navigation-next {
    text-align: left;
    float: left;
  }

  .article-navigation-prev {
    text-align: right;
    float: right;
  }

  .article-navigation-title {
    font-weight: 700;
    font-size: 15px;
  }

  .article-navigation-subtitle {
    font-weight: 400;
    font-size: 14px;
  }

  a:hover {
    div {
      background-color: black;
      color: white;
    }
  }
}

#article-list-button-container {
  width: 90px;
  height: 90px;
  margin: 20px auto auto;

  #article-list-button {
    display: table-cell;
    width: 90px;
    height: 90px;
    border: 1px black solid;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;

    &:hover {
      background-color: black;
    }
  }
}

#article-comments {
  margin-top: 10px;

  .utterances {
    margin: 0;
  }
}

#article-content-container {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  h1 {
    font-size: 22px;
    border-bottom: 1px black solid;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    line-height: 200%;
    margin-bottom: 15px;
  }

  img {
    max-width: 100%;
    margin-top: 10px;
  }

  ul,
  ol {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  li {
    list-style-position: inside;
    line-height: 200%;
    margin-top: 10px;
  }

  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: black;
      color: white;
    }
  }

  pre {
    padding: 15px 20px 20px 20px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  code,
  code span {
    font-family: 'Consolas', 'Monaco', 'Ubuntu Mono', 'Andale Mono', monospace;
  }

  p code,
  li code {
    background-color: #EEEEEE;
    padding: 0 5px 0 5px;
  }

  blockquote {
    border-left: 3px #DFDFDF solid;
    padding-left: 15px;
  }

  blockquote p {
    font-family: 'Noto Serif KR', serif;
    font-style: italic;
  }

  table {
    border-spacing: unset;
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 5px 10px 5px 10px;
    border: 1px black solid;
  }

  sup {
    font-size: 11px;
  }

  details {
    display: inline;
    margin-bottom: 25px;

    &[open=""] > summary {
      background-color: black;
      color: white;
    }

    summary {
      font-weight: bold;
      cursor: pointer;
    }
  }

  .table-of-contents  {
    font-size: 15px;
    margin-bottom: 30px;

    ul {
      list-style-type: none;
      counter-reset: item;
      margin: 0;
      padding-left: -20px;

      li {
        margin-top: 5px;

        &:before {
          content: counters(item, ".") ". ";
          counter-increment: item
        }
      }
    }
  }

  section {
    margin-bottom: 15px;

    .katex {
      * {
        font-family: 'Times New Roman', serif;
      }
    }
  }

  p {
    .katex {
      * {
        font-family: 'Times New Roman', serif;
        font-size: 16px;
      }

      .msupsub {
        * {
          font-size: 11px;
        }
      }
    }
  }

  .footnotes-sep {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 0;
    border-bottom: 1px black solid;
  }

  .footnotes {
    > .footnotes-list {
      padding: 0;
      font-size: 14px;
      counter-reset: list;

      > .footnote-item {
        list-style-position: inherit;
        list-style: none;

        &:before {
          content: "[" counter(list) "] ";
          counter-increment: list;
        }

        > p {
          font-size: 14px;
          display: inline;
        }
      }
    }
  }
}

@import './katex.scss';
@import './dracula.scss';
