#top-container {
  background-color: white;
  position: fixed;
  padding-bottom: 5px;
  z-index: 999;

  h1 {
    font-size: 24px;
    display: inline;
    font-weight: 900;
  }

  small {
    display: block;
    font-size: 13px;
    font-weight: 100;
  }

  .logo-link {
    span {
      font-size: 14px;
      font-weight: 400; 
    }

    &:hover,
    &:focus {
      color: white;
      text-shadow: 1px 1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black;
    }
  }

  .info-link:hover,
  .info-link:focus {
    color: white;
    background-color: black;
  }
}