<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Lorem Ipsum</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="./styles/index.css" as="style">
  <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </main>
</body>
</html>
