<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/works.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <section id="works-container">
      <% works.reverse().map((work) => { %>
      <a href="./work/<%= work.id %>.html">
        <div class="works-content">
          <img src="<%= work.thumbnail %>" />
          <h1><%= work.title %></h1>
        </div>
      </a>
      <% }) %>
    </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>